{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:            ('form-control ' ~ field.class)|trim,
    label:            field.label,
    def_lat:          field.latitude|default(11.255),
    def_long:         field.longitude|default(43.77),
} %}
{# variant[inline] #}

{#=== INIT ===========================================================================================================#}

{% set geolocation = context.content.get(contentkey) %}

{% set storage_name = {
    address:    'address',
    latitude:   'latitude',
    longitude:  'longitude',
} %}

{% set attributes = {
    address: {
        class:       'form-control address',
        name:        name ~ '[' ~ storage_name.address ~ ']',
        placeholder: __('field.geolocation.placeholder.address') ~ ' …',
        type:        'text',
    },

    latitude: {
        class:       'form-control latitude',
        name:        name ~ '[' ~ storage_name.latitude ~ ']',
        step:        'any',
        type:        'number',
        readonly:    true,
    },

    longitude: {
        class:       'form-control longitude',
        name:        name ~ '[' ~ storage_name.longitude ~ ']',
        step:        'any',
        type:        'number',
        readonly:    true,
    }
} %}

{% set class = option.variant == 'inline' ? ['col-sm-3', 'col-sm-9'] : ['col-xs-12', 'col-xs-12'] %}

{#=== FIELDSET =======================================================================================================#}

{# Note, mapbox formats the coordinates to (Longitude, Latitude) #}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set default_coord = {
    latitude: geolocation.latitude|default(option.def_lat),
    longitude: geolocation.longitude|default(option.def_long),
}%}

{% block fieldset_type 'RPMapboxField' %}
{% block fieldset_widget 'fieldGeolocation' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

    <style>
        .geocoder{
            width: 100%;
        }
        .mapboxgl-ctrl-geocoder { min-width:100%; }

        #map{
            width: 100%;
            height: 200px;
        }
    </style>

    <div class="{{ class[1] }}">
        <div class="row">
            <div class="col-xs-8">
                <label>{{ __('field.geolocation.label.address-lookup') }}</label>
                <div id='geocoder' class='geocoder'></div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label>{{ __('field.geolocation.label.longitude') }}</label>
                        <input {{ hattr(attributes.longitude) }} value="{{ geolocation.longitude|default('') }}">
                    </div>
                    <div class="col-xs-6">
                        <label>{{ __('field.geolocation.label.latitude') }}</label>
                        <input{{ hattr(attributes.latitude) }} value="{{ geolocation.latitude|default('') }}">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div id='map'></div>
            </div>
        </div>
    </div>

    <script>
        mapboxgl.accessToken = '{{ config.get('general/mapbox_api_key') }}';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [{{ default_coord.longitude }}, {{ default_coord.latitude }}],
            zoom: 13
        });

        map.addControl(new mapboxgl.FullscreenControl());

        var geocoder = new MapboxGeocoder({accessToken: mapboxgl.accessToken});
        var location_marker = new mapboxgl.Marker().setLngLat([{{ default_coord.longitude }}, {{ default_coord.latitude }}]).addTo(map);

        document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

        // When the page is loaded, populate the geocoder with either either
        // default data or user data.
        window.onload = function() {
            var geocoder_input = document.getElementById('geocoder').firstElementChild.getElementsByTagName("input")[0];
            geocoder_input.name = '{{ attributes.address.name }}';
            // geocoder_input.value = '{{ geolocation.address }}';
            geocoder.setInput('{{ geolocation.address }}');
        };

        geocoder.on('result', function(ev) {
            location_marker.setLngLat(ev.result.center);
            document.getElementsByName('{{ attributes.longitude.name }}')[0].value = ev.result.center[0];
            document.getElementsByName('{{ attributes.latitude.name }}')[0].value = ev.result.center[1];
        });
    </script>
{% endblock fieldset_controls %}
